body{

    background-color: greenyellow;

    background-color: darkblue;


}

color_fondo{

    background-color: darkblue;
}

.texto_rojo{

    color: red;
}

.centrar_texto{

    text-align: center;
}